.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 6rem;
}

.text-center {
  text-align: center;
}

.img-fluid {
  max-width: 100%;
  max-width: 35rem;
  height: auto;
}

.content {
  z-index: 10;
}

.container {
  max-width: $max-width;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  background: $light-color;
  color: $dark-color;
  border: 1px $dark-color solid;
  border-radius: 5px;
  margin-top: 25px;
  opacity: 0.7;
}

.btn:hover {
  transform: scale(0.98);
}
