@import 'config';
@import 'utils';

// Resets
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  text-decoration: none;
}

i {
  color: $light-color;
}

ul {
  list-style: none;
}

small {
  display: block;
}

// Navbar
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: $dark-color;
  opacity: 0.8;
  z-index: 11;

  ul {
    display: flex;
  }

  a {
    color: $light-color;
    padding: 0.45rem;
    margin: 0 0.25;
    display: inline-block;

    &:hover {
      color: $primary-color;
      transform: scale(0.98);
    }
  }
}

.footer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6rem;
  background-color: $dark-color;
  color: $light-color;
}

.showcase {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var($primary-color) url('../assets/img/cover.png') no-repeat
    center center/cover;

  & video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.portfolio-projects {
  max-height: 100vh;
  min-height: 60rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  & a {
    color: #0000ee;
  }
}

.project {
  max-width: 35rem;
}

#skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

#inquire {
  position: relative;
  color: $light-color;
  height: 100vh;
  padding: 0 20px;
  background: url(../assets/img/code-image.jpg) no-repeat center center/cover;

  &-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    height: inherit;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

#about {
  max-height: 100vh;
  min-height: 65rem;
  max-width: 50rem;
  margin: auto;
  margin-bottom: 5rem;

  &-img {
    border-radius: 50%;
    display: block;
    margin: auto;
    max-height: 35rem;
  }
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;

  & p {
    min-width: 20rem;
    max-width: 35rem;
    margin-left: 3rem;
  }
}

.welcome {
  font-weight: 300;
  font-size: 60px;
  line-height: 1.2;
  margin-bottom: 15px;
  color: $light-color;
}

.dark-overlay {
  width: 100%;
  position: absolute;
  color: $light-color;
  top: 50;
  left: 0;
  background-color: $dark-color;
  opacity: 0.8;
}

.dark-overlay-2 {
  width: 100%;
  color: $light-color;
  top: 50;
  left: 0;
  background-color: $dark-color;
  opacity: 0.8;
}

.special-hr {
  margin-bottom: 6rem;
}

@media screen and (max-width: 480px) {
  img {
    width: 100%;
  }

  .navbar {
    position: fixed;
    flex-wrap: wrap;
    text-align: center;
    padding: 0 2rem;
  }

  .dark-overlay h1 {
    font-size: 2rem;
  }

  .flex-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  #skills {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 2rem;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & p {
      min-width: 20rem;
      max-width: 35rem;
      margin-left: 3rem;
    }
  }
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
}
